body{
    background-color: turquoise;
}
h1{
    color: rgb(12, 68, 50);
    text-align: center;
    text-shadow: 1px 2px 2px white;
    text-transform: uppercase;
    border-bottom: 3px solid;
    border-color :rgb(12, 68, 50);
}
h1::first-letter{
    font-size: 60px;
}
h3{
    color: rgb(12, 68, 50)
    
}
div.principal{
    border-bottom: 3px solid;
    border-color :rgb(12, 68, 50);
    display: flex;
}
.imagenuno{
    border: 3px solid;
    border-color: black;
    margin-bottom: 5px;
    
}

p.tonto{
    text-align: center;
}




